


.butMainin{
    background-color:#e38f42 ;
}
.textHistoria{
color: #e38f42;
&:hover{
    color: #e38f42;
}
}
.contVidieoyou{
    margin-top: 40px;
}
.aKontaktemail{
    text-decoration: none;
    color: #e38f42;
    &:hover{
        color: #e38f42;
    }
}
.footMeincolor{
    background-color:  #f8f8f8;
    margin-top: px;
  }
  .butMain2{
      background-color: rgba(0, 0, 0, 0.3);
      color: #f8f8f8;
  }